.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--background-section);
}
.footer-address__white {
  color: var(--color-white);
}
.footer__box {
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--color-white);
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.footer-container {
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    text-align: left;
  }
}
.footer__tablet {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
