.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    background-color: var(--primary-white-color);
    width: 528px;
    height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}
.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__title {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}
.form__field {
    margin-bottom: 10px;
}
.form__input {
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    position: relative;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus-within {
        border-color: var(--accent-color);
    }
}
.form__input .cross-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus-within > .cross-icon {
    fill: var(--accent-color);
}
.modal__close:focus-within > .cross-icon {
    fill: var(--accent-color);
}
.form__input input {
    border: 0;
    height: 100%;
    width: 100%;
    padding-right: 15px;
}
.form__input input:focus {
    outline: none;
}
.form-textarea {
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;

    &:focus {
        outline: none;
        border: 1px solid var(--accent-color);
    }
}

.contract-block {
    margin: 20px 13px 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.form .subscribe-btn {
    display: block;
    margin: 30px auto 0;
}
.form__label {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--primary-text-color);
}
.policy {
    color: var(--accent-color);
}
.check-input {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
}
.checkbox-svg {
    position: absolute;
    margin-left: -20px;
    margin-bottom: -2px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    cursor: pointer;
    fill: transparent;
}
.check-input:hover + .checkbox-svg,
.check-input:focus + .checkbox-svg{
    border-color: var(--accent-color);
}
.check-input:checked + .checkbox-svg {
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
    border-color: transparent;
}
.check {
    padding-left: 15px;
}