.team {
    background-color: var(--primary-bg-color);
    padding-top: 94px;
}
.team__header {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
    margin: 0px 0px 10px 0px;
}
.team__position {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    margin: 0px 0px 16px 0px;
}
.team__list {
    display: flex;
}
.team__list__card {
    margin-left: 30px;
    text-align: center;
    
    &:first-child {
        margin-left: 0px;
    }
}

.team__img {
    display: block;
    max-width: 100%;
}
.team__cnt {
    padding-top: 30px;
    padding-bottom: 30px;
}
.socials-icons {
    display: inline-flex;
}

.socials-icons__item:not(:last-child) {
    margin-right: 10px;
}
.socials-icons__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-white-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus {
        background-color: var(--accent-color);
        
        .socials-icons__svg {
            fill: var(--primary-white-color); 
        }
    }
}
.socials-icons__svg {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}
.team__list__card {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-white-color);
}