.navigation__logo {
  display: block;
  color: var(--black-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
}
.navigation__web {
  color: var(--blue-color);
}

.footer__logo {
  display: block;
  color: var(--black-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
