:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #FFFFFF;
    --primary-bg-color: #F5F4FA;
}
body {
    font-family:'Roboto', sans-serif, 'Raleway', sans-serif;
    color: var(--title-text-color);
}